

.registration-page {
    
    .full-screen-container {
        background-image: url(https://wallpaperaccess.com/full/4305780.jpg);
        vertical-align: top;
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

