

.registration-page, .login-page {

    .slate-box {
        max-width: 99%;
        max-height: 99%;
        width: 60rem;
        background-color: rgba(14, 17, 36, 0.9);
        color: rgb(209, 209, 209);

        hr {
            border: none;
            margin: 1rem 0rem;
        }

        .hbox, .vbox {
            color: rgb(170, 170, 170);
        }
        
        a {
            color: rgb(0, 122, 204);
            
            &:visited {
                color: rgb(187, 0, 204);
            }
        }

        .error-text {
            color: rgb(204, 0, 95);

        }

        input {               
            color: rgb(211, 198, 182);        
            background-color: rgba(7, 10, 22, 0.6);
            box-shadow: 0 0 0.1rem inset rgba(24, 28, 53, 0.589);

            &:focus, &:hover {
                box-shadow: 0 0 0.05rem 0.15rem inset rgb(30, 163, 187);
            }
        }

        .btn {
            min-width: 10rem;
            background-color: rgba(52, 40, 112, 0.35);

            &:enabled {
                &:hover {
                    background-color: rgba(52, 40, 112, 1);
                }

                &:focus {
                    box-shadow: 0 0 0.1rem 0.25rem rgb(77, 60, 163);
                }
            }

            &:disabled {
                background-color: rgb(82, 82, 82);
            }
    }


        .double-label-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.25rem;

            .extra-info-label {
                color: rgb(160, 160, 160);
            }
        }
    }

    .full-screen-container {
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/69/7-78049_small-memory-8k-wallpaper-forest-minimalist-wallpaper-4k.jpg);
        vertical-align: top;
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.login-page {
    
    .full-screen-container {
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/69/7-78049_small-memory-8k-wallpaper-forest-minimalist-wallpaper-4k.jpg);
        vertical-align: top;
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

