
li {
    margin: 0px !important;
    padding: 0px !important;
}

ul {
    margin: 0;
    padding: 0;
}

.create-template-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .create-template-form-container {
        user-select: none;

        box-shadow: 0.1rem 0.1rem 0.5rem gray;
        border-radius: 0.5rem;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding: 2rem 1.5rem 1.5rem 1.5rem;
        min-width: 25rem;
        max-width: 27.5rem;
        width: 30%;

        h3 {
            margin: 0;
            margin-bottom: 1rem;
        }
            
        .template-name-input {
            text-align: center;
            border-radius: 0.25rem;
            font-size: 1rem;
            border: 0.1rem solid gray;
            outline: none;
            padding: 0.65rem 0.5rem;
            width: 75%;
            margin-bottom: 1rem;
        }

        .big-btn {
            margin-bottom: 0.5rem;
            font-size: 0.95rem;
            color: white;
            border: none;
            border-radius: 0.25rem;
            padding: 0.65rem 0.5rem;
            width: 75%;
            transition: background-color 200ms ease-in-out;
        }

        .up-down-btn-container {
            display: flex;
            justify-content: space-between;

            button {
                width: 10%; // Tell both buttons to be very small so flex-grow makes them the same size. Genius.
                flex-grow: 1;
            }

            button.margin-right {
                margin-right: 0.1rem;
            }

            button.margin-left {
                margin-left: 0.1rem;
            }

        }

        .btn-green {
            background-color: rgb(26, 190, 122);

            &:hover {
                background-color: rgb(23, 141, 112);

            }

            &:focus {
                outline: none;
                border: none;
                box-shadow: 0 0 0.0rem 0.1rem rgb(111, 255, 207);;
            }
        }

        .btn-red {
            background-color: rgb(238, 23, 112);

            &:hover {
                background-color: rgb(177, 18, 84);

            }

            &:focus {
                outline: none;
                border: none;
                box-shadow: 0 0 0.0rem 0.1rem rgb(253, 88, 157);
            }
        }

        .btn-blue {
            background-color: rgb(39, 168, 255);

            &:hover {
                background-color: rgb(29, 131, 199);

            }

            &:focus {
                outline: none;
                border: none;
                box-shadow: 0 0 0.0rem 0.1rem rgb(110, 197, 255);;
            }
        }

        ul {
            width: 75%;
        }

        .field-div {
            box-shadow: 0.1rem 0.1rem 0.5rem gray;
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            user-select: none;
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5rem;

            h5 {
                margin: 0;
            }

            .input-with-err {
                margin-bottom: 0.25rem;
            }

            select, option, input {
                border-radius: 0.25rem;
                border: 0.1rem solid gray;
                outline: none;
                padding: 0.5rem 0.25rem;
                width: 100%;
                margin-bottom: 0.1rem;
            }    

            button {
                font-size: 0.95rem;
                color: white;
                border: none;
                border-radius: 0.25rem;
                padding: 0.5rem 0.2rem;
                transition: background-color 200ms ease-in-out;
            }

            button.bot-margin {
                margin-bottom: 0.25rem;
            }

        }

        .red-text {
            color: rgb(223, 29, 110);
            margin-top: -0.35rem;
            margin-bottom: -0.25rem;
            font-size: 0.75rem;
        }

        .red-text.bigger {
            font-size: 0.85rem;
        }
    }
}

.add-entry-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .add-entry-form-container {
        user-select: none;

        box-shadow: 0.1rem 0.1rem 0.5rem gray;
        border-radius: 0.5rem;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding: 2rem 1.5rem 1.5rem 1.5rem;
        min-width: 30rem;
        max-width: 40rem;
        width: 50%;

        h3 {
            margin: 0;
            margin-bottom: 1rem;
        }

        .field-container {
            padding: 0.5rem 0rem;
            width: 75%;
            margin-bottom: 1rem;

            .field-input {
                text-align: center;
                border-radius: 0.25rem;
                font-size: 1rem;
                border: 0.1rem solid gray;
                outline: none;
                padding: 0.65rem 0.5rem;
                width: 100%;
            }
        }
            
        .btn {
            border: none;
            border-radius: 0.25rem;
            padding: 0.65rem 0.5rem;
            color: white;
            font-size: 1.05rem;
            transition: background-color 200ms ease-in-out;
            width: 75%;
        }


        .btn-green {
            background-color: rgb(26, 190, 122);

            &:hover {
                background-color: rgb(23, 141, 112);

            }

            &:focus {
                outline: none;
                border: none;
                box-shadow: 0 0 0.0rem 0.1rem rgb(111, 255, 207);;
            }
        }

        .btn-red {
            background-color: rgb(238, 23, 112);

            &:hover {
                background-color: rgb(177, 18, 84);

            }

            &:focus {
                outline: none;
                border: none;
                box-shadow: 0 0 0.0rem 0.1rem rgb(253, 88, 157);
            }
        }

        .btn-blue {
            background-color: rgb(39, 168, 255);

            &:hover {
                background-color: rgb(29, 131, 199);

            }

            &:focus {
                outline: none;
                border: none;
                box-shadow: 0 0 0.0rem 0.1rem rgb(110, 197, 255);;
            }
        }    
    }
}


